body {
    margin: 0;
    padding: 0;
}


.page-header {
    text-align: center;
    font-size: x-large;
}

.info {
    margin-top: 0;
    align-items: center;
    font-weight: bold;
}


.container {
    max-width: 900px;
}

.row {
    display: grid;
    justify-content: center;
    justify-items: start;
}

.product {
    display: grid;
}

.title {
    margin-bottom: 0;
}

.brand {
    font-size: 20px;
}

.name {
    white-space: nowrap;
    font-size: 20px;
}


.price-red {
    color: red;
    font-size: 20px;
}

.old-price {
    color: black;
    text-decoration: line-through;

}