body {
    margin: 0;
    padding: 0;
}


.page-header {
    text-align: center;

}

.row {
    padding: 0 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.brand {
    justify-content: flex-start;
    font-size: 20px;
}

.name {
    justify-content: flex-start;
    white-space: nowrap;
    font-size: 20px;
}


.price-red {
    color: red;
    font-size: 20px;
}

.old-price {
    color: black;
    text-decoration: line-through;

}